.input {
  width: 250px;
  padding: 10px;
  margin-right: 20px;
  outline: none;
  border: 1px solid #2a437a;
  border-radius: 5px;

  &__button {
    font-weight: 700;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #2a437a;
  }
}
